.ring-sizer-container {
  font-family: dosis;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2em;
  /*overflow: hidden;*/
  text-align: center;

  margin-top: 50px;
}

.step-container {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .step-container {
    margin-bottom: 50px;
  }
}

.step-instructions {
  margin: 0 auto 50px auto;
  max-width: 440px;
}

@media (max-width: 768px) {
  .desktop-instructions {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-instructions {
    display: none;
  }
}

#resizable {
  margin-top: 20px;
  width: 312px;
  height: 196px;
}

.credit-card {
  background-color: #E7E7E7;
  border-radius: 10px;
  display: inline-block;
  position: relative;

  margin-left: 159px;
  margin-bottom: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .credit-card {
    margin-left: 45px;
  }
}

.credit-card-component{
  position: absolute;
}

.credit-card-stripe{
  top: 10%;
  width: 100%;
  height: 20%;
  background-color: rgba(0,0,0,0.57);
}

.credit-card-stipe-white{
  left: 15%;
  top: 40%;
  width: 70%;
  height: 15%;
  background-color: white;
}

.credit-card-chip{
  top: 70%;
  left: 10%;
  width: 10%;
  height: 15%;
  background-color: #FDDF73;
  border-radius: 10px;
}

.credit-card-text {
  top: 72%;
  left: 30%;
  width: 60%;
  height: 1%;
  background-color: #646464;
}

.credit-card-text-2{
  top: 77%;
  width: 45%
}

.credit-card-text-3{
  top: 82%;
  width: 50%;
}

.button, .ring {
  background-color: #63c3d4;
  font-family: "Dosis", Open Sans;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
}
.buttons-wrapper > .button:first-child {
  margin-right: 10px;
}
.button {
  border-radius: 3px;
  transition: .1s opacity linear;
  border-color: #63c3d4;
  display: inline-block;
  padding: 1em 2.5em;
  color: #fff;
  border-width: 0;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
}

.button:hover {
  opacity: 0.8;
  background-color: #63c3d4 !important
}

.card-container{
  margin: 30px auto 0;
}

.ring-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ring {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  display:flex;
  align-items: center;
}

.ring div {
  color: white;
  margin: 0 auto;
}

/* RINGS */

.ring-4 {
  width: 56.15888688px;
  height: 56.15888688px;
}

.ring-4-5{
  width: 57.71083555px;
  height: 57.71083555px;
}

.ring-5{
  width: 59.33496789px;
  height: 59.33496789px;
}

.ring-5-5 {
  width: 60.85082473px;
  height: 60.85082473px;
}

.ring-6 {
  width: 62.4027734px;
  height: 62.4027734px;
}

.ring-6-5 {
  width: 63.95472208px;
  height: 63.95472208px;
}

.ring-7 {
  width: 65.57885441px;
  height: 65.57885441px;
}

.ring-7-5 {
  width: 67.08268064px;
  height: 67.08268064px;
}

.ring-8 {
  width: 68.75493542px;
  height: 68.75493542px;
}

.ring-8-5 {
  width: 70.03018006px;
  height: 70.03018006px;
}

.ring-9 {
  width: 71.38963898px;
  height: 71.38963898px;
}

.ring-9-5 {
  width: 72.54457753px;
  height: 72.54457753px;
}

.ring-10 {
  width: 74.10855681px;
  height: 74.10855681px;
}

.ring-10-5 {
  width: 75.55222999px;
  height: 75.55222999px;
}

.ring-11 {
  width: 77.11620928px;
  height: 77.11620928px;
}

/* ARROW */

@media (max-width: 768px) {
  .arrow-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .arrow-container {
    display: inline-block;
  }
}

.arrow {
  border-top: 9px solid transparent;
  border-right: 9px solid #646464;
  display: inline-block;
  height: 0;
  margin-right: 10px;
  position: relative;
  width: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.arrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid #646464;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.arrow-instructions {
  color: #63c3d4;
  display: inline-block;
  width: 120px;
  font-size: 15px;
}
