#card-container{
  width: 312px; /* This is the actual width of a card */
  margin: 20px auto 0;
}

.credit-card-aspect-ratio {
  position: relative;
}

.credit-card-aspect-ratio:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 62.82051282%;  /* (196 / 312) * 100%; */
}

.aspect-content {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ring-sizer-container {
  text-align: center;
  font-family: "omnes-pro", dosis, Open Sans;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 300;
  font-style: normal;
}

.step-container {
  margin-bottom: 130px;
}

.instructions {
  margin: 0 auto 50px auto;
  max-width: 440px;
}

.credit-card{
  background-color: #E7E7E7;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}

.credit-card-component{
  position: absolute;
}

.credit-card-stripe{
  top: 10%;
  width: 100%;
  height: 20%;
  background-color: rgba(0,0,0,0.57);
}

.credit-card-stipe-white{
  left: 15%;
  top: 40%;
  width: 70%;
  height: 15%;
  background-color: white;
}

.credit-card-chip{
  top: 70%;
  left: 10%;
  width: 10%;
  height: 15%;
  background-color: #FDDF73;
  border-radius: 10px;
}

.credit-card-text {
  top: 72%;
  left: 30%;
  width: 60%;
  height: 1%;
  background-color: #646464;
}

.credit-card-text-2{
  top: 77%;
  width: 45%
}

.credit-card-text-3{
  top: 82%;
  width: 50%;
}

.button, .ring {
  background-color: #63c3d4;
  font-family: "Dosis", Open Sans;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 3px;
  transition: .1s opacity linear;
  border-color: #63c3d4;
  display: inline-block;
  padding: 1em 2.5em;
  color: #fff;
  border-width: 0;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
  margin: 0 10px;
}

.button:hover {
  opacity: 0.8;
  background-color: #63c3d4 !important
}

.card-container{
  margin: 30px auto 0;
}

/* RINGS */

.ring-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ring {
  align-items: center;
  border-radius: 100%;
  color: white;
  display:flex;
  height: 40px;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 40px;
}

.ring-4 {
  width: 56.15888688px;
  height: 56.15888688px;
}

.ring-4-5{
  width: 57.71083555px;
  height: 57.71083555px;
}

.ring-5{
  width: 59.33496789px;
  height: 59.33496789px;
}

.ring-5-5 {
  width: 60.85082473px;
  height: 60.85082473px;
}

.ring-6 {
  width: 62.4027734px;
  height: 62.4027734px;
}

.ring-6-5 {
  width: 63.95472208px;
  height: 63.95472208px;
}

.ring-7 {
  width: 65.57885441px;
  height: 65.57885441px;
}

.ring-7-5 {
  width: 67.08268064px;
  height: 67.08268064px;
}

.ring-8 {
  width: 68.75493542px;
  height: 68.75493542px;
}

.ring-8-5 {
  width: 70.03018006px;
  height: 70.03018006px;
}

.ring-9 {
  width: 71.38963898px;
  height: 71.38963898px;
}

.ring-9-5 {
  width: 73.362659px;
  height: 73.362659px;
}

.ring-10 {
  width: 74.98679133px;
  height: 74.98679133px;
}

.ring-10-5 {
  width: 76.34625024px;
  height: 76.34625024px;
}

.ring-11 {
  width: 78.16287234px;
  height: 78.16287234px;
}

/* ARROW */

.arrow-container {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}

.arrow {
  border-top: 9px solid transparent;
  border-right: 9px solid #646464;
  display: inline-block;
  height: 0;
  margin-right: 10px;
  position: absolute;
  width: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.arrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid #646464;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.arrow-instructions {
  color: #63c3d4;
  display: inline-block;
  width: 120px;
  font-size: 15px;
  margin-left: 1.5em; /* position instructions to right of arrow */
  margin-top: 0;
}
