.ring-sizer-container {
  text-align: center;
}

#card-container{
  width: 400px;
}

.card-img{
  width: 100%;
}

.button, .ring {
  background-color: #63c3d4 !important
}

.ring {
  background-color: tomato;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.ring-4 {
  width: 45px;
  height: 45px;
}

.ring-4-5{
  width: 50px;
  height: 50px;
}